@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic');
* {
    box-sizing: border-box;
}

body {
    background: #F9F9F9;
}

.main_container {
    width: 30%;
    margin: 10% auto 0 auto;
    display: flex;
}

.img {
    border-radius: 300px;
}

.main_text {
    font-family: Roboto;
    line-height: 24px;
    align-items: center;
    text-align: right;
    margin-left: 7%;

}

.main_text_first {
    font-style: normal;
    font-weight: normal;
    color: #606060;
    font-size: 40px;
}

.main_text_second {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(96, 96, 96, 0.72);
}

.register_container {
    width: 40%;
    margin: 2rem auto;
}

.rectangle {
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.rectangle_element {
    padding: 6% 3% 3% 3%;
    width: 100%;
}

#email {
    padding: 2%;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.38);
    background: rgba(51, 51, 51, 0.06);
    border-radius: 4px 4px 0px 0px;
}

#password {
    padding: 2%;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    background: rgba(51, 51, 51, 0.06);
    border-radius: 4px 4px 0px 0px;
}

.calm {
    margin: 0 35%;
    width: 30%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.0357143em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #00BCD4;
    border-radius: 2px;
    padding: 1.5% 10%;
    text-decoration: none;
}
